plugins:
  - "stylelint-prettier"
extends:
  - "stylelint-config-standard"
  - "stylelint-config-recess-order"
  - "stylelint-config-prettier"
  - "stylelint-prettier/recommended"
  - "stylelint-config-recommended-scss"
ignoreFiles:
  - '**/node_modules/**'
  - 'dist/**/*'
rules:
  {
    'selector-class-pattern': "^((-*)*([a-z][a-z0-9]*)(-*)*([a-z0-9]+)*(-*)*).*$"
  }