.kh-text-field{
  position: relative;
  height: 40px;
  line-height: 20px;
  max-width: 100%;
  .kh--input-border{
    width: 100%;
    border: solid 1px var(--color-grey-3c);
    border-radius: 5px;
    overflow: hidden;
    position: absolute;
    left: 0;
  }
  .kh--input-slot{
    width: 100%;
    padding: 0 var(--spacing-4);
  }
  input{
    position: relative;
    width: 100%;
    height: auto;
    padding: 8px 0;
    font-size: unset;
    line-height: 22px;
    outline: none;
    transition: all ease .3s;
    border: none;
    &:disabled {
      transition: all ease .3s;
    }

    &::placeholder{
      opacity: 0;
      transition: opacity .3s;
    }
  }

  label {
    position: absolute;
    z-index: 1;
    margin: 0;
    cursor: text;
    user-select: none;
    transform-origin: left;
    transition: all .3s;
  }

  &.--active{
    input{
      &::placeholder{
        opacity: .3;
      }
    }

    label{
      display: block;
      padding:0 4px;
      background: var(--color-back-ground);
      transform: translateY(calc(-100% - 0.1rem)) scale(.85);
    }
  }
  &.--focused{
    .kh--input-border{
      border: solid 2px var(--color-primary);
    }
    label{
      color: var(--color-primary);
    }
  }
}