.kh-text-field{
  position: relative;
  height: 40px;
  line-height: 20px;

  input{
    width: auto;
    height: auto;
    padding: 8px;
    font-size: unset;
    line-height: 22px;
    border: solid 1px var(--color-grey-3c);
    border-radius: 5px;
    outline: none;
    transition: all ease .3s;

    &:disabled {
      transition: all ease .3s;
    }

    &:focus{
      border: solid 1px var(--color-primary);
    }

    &::placeholder{
      opacity: 0;
      transition: opacity .3s;
    }
  }

  label {
    position: absolute;
    z-index: 1;
    padding-left: 4px;
    margin: 0;
    cursor: text;
    user-select: none;
    transition: all .3s;
    transform-origin: left;
  }

  &.--active{
    input{
      &::placeholder{
        opacity: .3;
      }
    }

    label{
      display: block;
      padding:0 4px;
      background: var(--color-back-ground);
      transform: translate(12px,calc(-100% - 0.1rem)) scale(.85);
    }
  }
}