@use '../util/break-point';
@use '../util/media-query';

$axes: ["a","x","y","t","b","l","r"];

@mixin spacing($type:'',$axis:'a'){
  @for $i from 0 through 16 {
    &-#{$i} {
      @if($axis == 't'){
        #{$type}-top: var(--spacing-#{$i});
      }
      @else if($axis == 'b'){
        #{$type}-bottom: var(--spacing-#{$i});
      }
      @else if($axis == 'l'){
        #{$type}-left: var(--spacing-#{$i});
      }
      @else if($axis == 'r'){
        #{$type}-right: var(--spacing-#{$i});
      }
      @else if($axis == 'x'){
        #{$type}-right: var(--spacing-#{$i});
        #{$type}-left: var(--spacing-#{$i});
      }
      @else if($axis == 'y'){
        #{$type}-top: var(--spacing-#{$i});
        #{$type}-bottom: var(--spacing-#{$i});
      }
      @else{
        #{$type}: var(--spacing-#{$i});
      }
    }
  }
}

:root{
  @for $i from 0 through 16 {
    @if($i == 0){
      --spacing-#{$i}:#{$i}
    }
    @else {
      --spacing-#{$i}:#{$i * 4}px
    }
  }
}

.p{
  $type:'padding';
  @each $axis in $axes {
    &#{$axis} {
      @include spacing($type,$axis);
      @each $bp, $_ in break-point.$breakpoints{
        &-#{$bp}{
          @include media-query.mq($bp){
            @include spacing($type,$axis)
          }
        }
      }
    }
  }
}

.m{
  $type:'margin';
  @each $axis in $axes {
    &#{$axis} {
      @include spacing($type,$axis);
      @each $bp, $_ in break-point.$breakpoints{
        &-#{$bp}{
          @include media-query.mq($bp){
            @include spacing($type,$axis)
          }
        }
      }
    }
  }
}