:root {
  --text-size: 10px;
  --text-size-xxl: 3.2rem;
  --text-size-xl: 2.6rem;
  --text-size-lg: 2.2rem;
  --text-size-md: 1.8rem;
  --text-size-sm: 1.4rem;
  --text-size-xs: 1.2rem;
  --color-primary: #42139e;
  --color-secoundary: #af96e0;
  --color-success: #5fe15a;
  --color-warning: #e7d06f;
  --color-error: #e7615c;
  --color-error-bg: #FFE0E0;
  --color-text:#213b4a;
  --color-text-invert: #fff;
  --color-back-ground: #fff;
  --color-grey-3c: #3C3C3C;
  --color-grey-5f: #5F5F5F;
  --color-grey-79: #797979;
  --color-grey-91: #919191;
  --color-grey-ca: #CACACA;
  --color-grey-e1: #E1E1E1;
  --color-grey-f3: #F3F3F3;
  --color-shadow: rgb(0 0 0 / 20%);
}