:root{
  --text-size-xxl: 2.6rem;
  --text-size-xl: 2rem;
  --text-size-lg: 1.6rem;
  --text-size-md: 1.4rem;
  --text-size-sm: 1.2rem;
  --text-size-xs: 1.0rem;
  --color-primary: #a47fcd;
  --color-secoundary: #c7baf5;
  --color-success: #5fe15a;
  --color-warning: #e7d06f;
  --color-error: #e7615c;
  --color-error-bg: #FFE0E0;
  --color-text: #202020;
  --color-text-invert: #ffffff;
  --color-back-ground: #ffffff;
  --color-grey-3C: #3C3C3C;
  --color-grey-5F: #5F5F5F;
  --color-grey-79: #797979;
  --color-grey-91: #919191;
  --color-grey-CA: #CACACA;
  --color-grey-E1: #E1E1E1;
  --color-grey-F3: #F3F3F3;

}

@import "text/text";
@import "form/form";

